<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>League of Legends API Implmentation</title>
  <meta name="description" content="Implementations of Riot's API">
  <meta name="author" content="Micah Grossman">
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>

<body>
	<h1>Getting started with the League of Legends API</h1>
	<form action="/search" method="GET">
  			<input type="text" id="summoner" name="summoner">
	</form>
  {{{body}}}
</body>
</html>
